@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Consulta de Dispositivos";
}
<fieldset id="areaFilter" class="form-group bg-gray-200 p-4 rounded-lg shadow-md">
    <h2 class="title" style="font-weight: bold;">Consulta Avançada de Dispositivos</h2>
    <hr>
    <div class="pretty-boxes flex flex-wrap gap-4">
        <div class="w-full lg:w-auto flex-1">
            <label for="name" class="block text-gray-700 font-bold mb-2">Nome</label>
            <input type="text" id="name" class="form-control shadow appearance-none border rounded w-full py-1 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
        </div>
        <div class="w-full lg:w-auto flex-1">
            <label for="type" class="block text-gray-700 font-bold mb-2">Tipo</label>
            <input type="text" id="type" class="form-control shadow appearance-none border rounded w-full py-1 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
        </div>
        <div class="w-full lg:w-auto flex-1">
            <label for="transport" class="block text-gray-700 font-bold mb-2">Método de Transporte</label>
            <input type="text" id="transport" class="form-control shadow appearance-none border rounded w-full py-1 px-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
        </div>
        <div class="w-full lg:w-auto flex items-end">
            <input type="button" id="btnFilter" class="btn btn-success hover:bg-gray-800 text-white font-bold py-1 px-4 rounded hover:cursor-pointer focus:outline-none focus:shadow-outline" style="margin-top: 10px" value="Aplicar" onclick="applyAdvancedQueryDevice()" />
        </div>
    </div>
</fieldset>
<div id="queryResult" class="table-responsive mt-4">
    <!-- Query results here -->
</div>