@model List<TemperatureViewModel>

<h2 class="text-2xl font-bold title pt-2 my-2">Valores de Temperatura</h2>

<div class="flex w-5/6 justify-end -mt-12 mb-4">
    <a class="py-5"></a>
</div>

<div class="center-container pretty-boxes">
        <table class="min-w-full bg-gray-700 text-white rounded-lg table-bordered shadow">
            <thead>
                <tr>
                    <th class="py-2 px-6 text-left">Data</th>
                    <th class="py-4 px-6 text-left">Valor</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var temp in Model)
                {
                    <tr class="border-t border-gray-100">
                        <td class="py-2 px-4 text-left">@temp.Time</td>
                        <td class="py-2 px-4 text-left">@temp.Value</td>
                    </tr>
                }
            </tbody>
        </table>
</div>