<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PBL</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Data_PBL</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary mx-1 nav-btn" asp-area="" asp-controller="Home" asp-action="Index">Gráfico Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary mx-1 nav-btn" asp-area="" asp-controller="Device" asp-action="Index">Dispositivos</a>
                        </li>
                        
                        @if(ViewBag.UserLogged == true){
                            <li class="nav-item">
                                <a class="nav-link btn btn-primary mx-1 nav-btn" asp-area="" asp-controller="Home" asp-action="Privacy">Devices (ainda a construir)</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-primary mx-1 nav-btn" asp-area="" asp-controller="Home" asp-action="Privacy">Mais coisas (ainda a construir)</a>
                            </li>
                        }

                        <li class="nav-item">

                            @if(ViewBag.IsAdmin == true){
                                <a class="nav-link btn btn-primary mx-1 nav-btn" asp-area="" asp-controller="User" asp-action="Index">Gerenciamento de Usuários</a>
                            }

                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">

                            @if(ViewBag.UserLogged != true){
                                <a class="nav-link btn btn-success mx-1 nav-btn login-button" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                            }
                            else
                            {
                                <a class="nav-link btn btn-success mx-1 nav-btn" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                            }

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - PBL - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
