@model ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Ocorreu um erro!</h1>
<p class="text-center text-gray-900 my-8 p-2 mx-6 border border-red-500 rounded-lg">@Model.Error</p>

