@{
    ViewData["Title"] = "Sobre";
}
<h1 class ="title">@ViewData["Title"]</h1>

<div class="center-container" style="padding: 0%">
    <div class="pretty-boxes" style="text-align: center; width: 50%; margin-bottom: 10px; margin-right: 5px">
        <p>
            <h4>Grupo:</h4>
            Fábio Gomes Celestino - RM 081220016 <br />
            Victor Mozardo de Oliveira - RM 081220022 <br />
            Roger Freitas Pereira - RM 081220023 <br />
            Rhian Rodrigues Barbosa - RM 081220031 <br />
            Marcelo Mendonça Medeiros - RM 082220035
        </p>
    </div>

    <div class="pretty-boxes" style="text-align: center; width: 50%; font-size: 95%; margin-bottom: 10px; margin-left: 5px">
        <p>
            <h4>O que é este projeto e qual o intuito dele?</h4>
            Este é um projeto integrado que utiliza de um sistema de controle e monitoramento de IoT para estufas de secagem de motores elétricos,
            a fim de assegurar os valores de temperatura e realizar um monitoramento em tempo real,
            otimizando o processo de fabricação resultando em uma alta qualidade dos produtos. Por meio deste programa, 
            é possível realizar a consulta e apuração dos dados de temperatura captados pelos sistemas de controle IoT apresentados em gráficos.
        </p>
    </div>
</div>
<div class="center-container"; style="padding: 0%">
    <div class="pretty-boxes" style="text-align: center; width: 50%; font-size: 95%">
        <p>
            <h4>Funcionalidades do programa desktop:</h4>
            O programa desktop possui em sua tela inicial um sistema de exibição que apresenta um gráfico que mostra até os 100 últimos valores captados pelo sistema de controle IoT, 
            e ao efetuar login no sistema permite registrar novos aparelhos que estarão ligados ao programa. Também conta com um sistema de gerenciamento de usuários e aparelhos,
            o qual só pode ser acessado e controlado por usuários administradores.
        </p>
    </div>
</div>



